body 
{
background:#fff;
padding:0;
margin:0;
font-weight: bold;
overflow:hidden;
background-color: white;
}

#container
{
    margin: auto;
    width: 512px;
    height: 512px;
    padding-top: 25px;
}

#toolbar
{
    width: 512px;
    height: 25px;
    background-color: rgb(200,200,200);
}

#view
{
     padding-top: 25px;
    background-color: black;
}

select
{
    width: 90px;
}